iframe{
    width: 150%;
}
iframe{
    height: 150%;
}
#homehead{
    min-height: 250px;
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content:center;
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

nav a{
    color: white;

}
body{
    padding-left: 50px;
    padding-right: 50px;
}